@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: #3f1652;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e52878;
}
.select2-dropdown {
    @apply rounded-lg mt-1 p-2 border-gray-100 bg-white drop-shadow;
}
.select2-selection {
    @apply bg-black border-gray-300 border-2;
}
.select2-container .select2-selection--single {
    @apply p-5 cursor-pointer block select-none shadow border-2 border-gray-100 rounded-lg;
}
.select2-container--default .select2-selection--single {
    @apply h-10 border-solid border bg-white;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    @apply text-gray-500;
}
.select2-search--dropdown .select2-search__field {
    @apply h-10 mb-2 box-border rounded-md border-2 border-blue-300 outline-none;
    width: 100%;
}
.select2-container--default .select2-results > .select2-results__options {
    @apply h-full max-h-56 overflow-y-auto;
}
.select2-container--default
    .select2-results__option--highlighted[aria-selected] {
    @apply bg-[#3f1652] text-white;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    @apply absolute top-2 left-2 w-full h-full text-gray-500;
}
.select2-selection__arrow {
    @apply hidden;
}
.rating {
    display: inline-block;
    position: relative;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #ccc;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: #f8c35b;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #ddd;
    text-shadow: 0 0 5px #e0af4c;
}
