@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f8c35b;
}
::-webkit-scrollbar-thumb {
    background: #3f1652;
}

::-webkit-scrollbar-thumb:hover {
    background: #e52878;
}
